@media screen and (max-width: 1340px) {
    .library div{
        gap: 10px
    }
    
}
@media screen and (max-width: 1225px) {
    .white {
        position: static;
        margin: auto;
    }
    .losing{
        padding-bottom:25px ;
    }
    .relief{
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .how_it_work{
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px ;
    }
    .library{
        padding: 0 15px;
    }
    .security{
        position: static;
        margin: auto;
    
    }
    .pupper{
        margin-top: 80px;
        padding-top: 15px;
    }
    .quote{
        padding-top: 0px;
    }
    .container{
        padding: 0 15px;
    }
}
@media  screen and (max-width: 960px) {
    .how_it_work h2{
        margin: auto;
        margin-bottom: 30px;
    }
    .how_it_work{
        padding-top: 30px;
        flex-direction: column;
        
    }
    .built img{
        max-width: 450px;
    }
    .built h2{
        padding-top: 42px;
    }
    .built p {
        max-width: 500px;
    }
    .standing{
        padding-top: 60px;
    }
    .standing img {
        max-width: 450px;
    }
    .standing h2{
        padding-top: 61px;
    }
    .standing p{
        max-width: 500px;
    }
    .easily img{
        max-width: 450px;
    }
    .easily p{
        max-width: 500px;
    }
    .easily h2{
        padding-top: 35px;
    }
    .paperwork img{
        max-width: 450px;
    }
    .paperwork p{
        max-width: 500px;
    }
    .paperwork h2{
        padding-top: 35px;
    }
    .understand img{
        max-width: 450px;
    }
    .understand p{
        max-width: 500px;

    }
    .understand h2{
        padding-top: 61px;
    }
}
@media screen and (max-width:820px){
    .built{
        margin-top: 50px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .standing{
        padding-top: 50px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .easily{
        margin-top: 50px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .paperwork{
        padding-top: 50px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .understand {
        margin-top: 50px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .built h2{
        padding-top: 8px;
        font-size: 28px;
    }
    .standing h2{
        font-size: 28px;
        padding-top: 23px;
    }
    .easily h2{
        font-size: 28px;
        padding-top: 0px;
    }
    .paperwork h2{
        font-size: 28px;
    }
    .understand h2{
        font-size: 28px;
        padding-top: 19px;
    }
    .built img{
        max-width: 300px;
    }
    .standing img{
        max-width: 300px;
    }
    .easily img{
        max-width: 300px;
    }
    .paperwork img{
        max-width: 300px;
    }
    .understand img{
        max-width: 300px;
    }
    

    
@media screen and (max-width: 800px){
    .item_link{
        margin-left: 0;
    }
    .library_base{
        padding: 0px;
        flex-wrap: wrap;
        gap: 14px;
    }
    .navigation{
        display: inline-block;
        width: 100%;
}
.cd-header {
    height: 80px;
    width: 100%;
    margin: 0 auto;
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; ;}
    
    .cd-header:after {
      content: "";
      display: table;
      clear: both; }
    .cd-header.nav-is-visible {
      -webkit-transform: translateY(80px);
      -moz-transform: translateY(80px);
      -ms-transform: translateY(80px);
      -o-transform: translateY(80px);
      transform: translateY(80px); }
    @media screen and (min-width: 280px) {
      .cd-header.nav-is-visible {
        -webkit-transform: translateY(170px);
        -moz-transform: translateY(170px);
        -ms-transform: translateY(170px);
        -o-transform: translateY(170px);
        transform: translateY(170px); } }
  
  .cd-logo {
    float: left;
    margin-top: 28px; }

.cd-3d-nav-trigger {
    position: relative;
    float: right;
    height: 45px;
    width: 45px;
    bottom: 10px;
    
    /* replace text with background image */
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
  display: block; }
    .cd-3d-nav-trigger span,
    .cd-3d-nav-trigger span::before,
    .cd-3d-nav-trigger span::after {
      /* hamburger icon in CSS */
      position: absolute;
      width: 28px;
      height: 3px;
      background-color: black;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
    .cd-3d-nav-trigger span {
      /* this is the central line */
      top: 21px;
      left: 8px;
      -webkit-transition: background 0.2s 0.5s;
      -moz-transition: background 0.2s 0.5s;
      transition: background 0.2s 0.5s; }
      .cd-3d-nav-trigger span::before, .cd-3d-nav-trigger span:after {
        /* these are the upper and lower lines */
        content: '';
        left: 0;
        -webkit-transition: -webkit-transform 0.2s 0.5s;
        -moz-transition: -moz-transform 0.2s 0.5s;
        transition: transform 0.2s 0.5s; }
      .cd-3d-nav-trigger span::before {
        bottom: 8px; }
      .cd-3d-nav-trigger span::after {
        top: 8px; }
    .nav-is-visible .cd-3d-nav-trigger span {
      /* hide line in the center */
      background-color: rgba(255, 255, 255, 0); }
      .nav-is-visible .cd-3d-nav-trigger span::before, .nav-is-visible .cd-3d-nav-trigger span::after {
        /* keep visible other 2 lines */
        background-color: black; }
      .nav-is-visible .cd-3d-nav-trigger span::before {
        -webkit-transform: translateY(8px) rotate(-45deg);
        -moz-transform: translateY(8px) rotate(-45deg);
        -ms-transform: translateY(8px) rotate(-45deg);
        -o-transform: translateY(8px) rotate(-45deg);
        transform: translateY(8px) rotate(-45deg); }
      .nav-is-visible .cd-3d-nav-trigger span::after {
        -webkit-transform: translateY(-8px) rotate(45deg);
        -moz-transform: translateY(-8px) rotate(45deg);
        -ms-transform: translateY(-8px) rotate(45deg);
        -o-transform: translateY(-8px) rotate(45deg);
        transform: translateY(-8px) rotate(45deg); }
  
  .cd-3d-nav-container {
    /* this is the 3D navigation container */
    position: fixed;
    top: -200px;;
    left: 0;
    height: 80px;
    width: 100%;
    background-color: #000000;
    visibility: hidden;
    /* enable a 3D-space for children elements */
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0.5s;
    -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0.5s;
    transition: transform 0.5s 0s, visibility 0s 0.5s; }
    .cd-3d-nav-container.nav-is-visible {
      visibility: visible;
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      -webkit-transition: -webkit-transform 0.5s 0s, visibility 0.5s 0s;
      -moz-transition: -moz-transform 0.5s 0s, visibility 0.5s 0s;
      transition: transform 0.5s 0s, visibility 0.5s 0s; }
    @media only screen and (min-width: 280px) {
      .cd-3d-nav-container {
        height: 110px; } }
  
  .cd-3d-nav {
    /* this is the 3D rotating navigation */
    position: relative;
    height: 100%;
    background-color: #F4EFE9;
    /* Force Hardware Acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: center bottom;
    -moz-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    -o-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    -ms-transform: rotateX(90deg);
    -o-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    transition: transform 0.5s; }
    .cd-3d-nav::after {
      /* menu dark cover layer - to enhance perspective effect */
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #000000;
      opacity: 1;
      visibility: visible;
      -webkit-transition: opacity 0.5s 0s, visibility 0.5s 0s;
      -moz-transition: opacity 0.5s 0s, visibility 0.5s 0s;
      transition: opacity 0.5s 0s, visibility 0.5s 0s; }
    .cd-3d-nav li {
      height: 100%;
      width: 25%;
      float: left; }
      .cd-3d-nav li:first-of-type a::before {
       background-image: url('../img/about.svg');}
      .cd-3d-nav li:nth-of-type(2) a::before {
        background-image: url('../img/learn.svg')}
      .cd-3d-nav li:nth-of-type(3) a::before {
        background-image: url('../img/partner.svg')}
      .cd-3d-nav li:nth-of-type(4) a::before {
        background-image: url('../img/covid.svg')}
    .cd-3d-nav a {
      position: relative;
      display: block;
      height: 100%;
      color: transparent;
      -webkit-transition: background-color 0.2s;
      -moz-transition: background-color 0.2s;
      transition: background-color 0.2s; }
      .cd-3d-nav a::before {
        /* navigation icons */
        content: '';
        height: 32px;
        width: 32px;
        position: absolute;
        left: 50%;
        top: 50%;
        bottom: auto;
        right: auto;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
        
        background-repeat: no-repeat;
        background-position: center; }
      .no-touch .cd-3d-nav a:hover {
        background-color: #2b3145; }
    .cd-3d-nav .cd-selected a {
      background-color: #FFD394; }
      .no-touch .cd-3d-nav .cd-selected a:hover {
        background-color: #FFD394; }
      .cd-3d-nav .cd-selected a::before {
        background-position: center; }
    .nav-is-visible .cd-3d-nav {
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0); }
      .nav-is-visible .cd-3d-nav::after {
        /* menu cover layer - hide it when navigation is visible */
        opacity: 0;
        visibility: hidden;
        -webkit-transition: opacity 0.5s 0s, visibility 0s 0.5s;
        -moz-transition: opacity 0.5s 0s, visibility 0s 0.5s;
        transition: opacity 0.5s 0s, visibility 0s 0.5s; }
    @media only screen and (min-width:280px) {
      .cd-3d-nav a {
        padding: 7em 1em 0;
        color: black;
        font-size: 1.1rem;
        font-weight: 600;
        text-align: center;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        /* truncate text with ellipsis if too long */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
        .cd-3d-nav a::before {
          top: 3.4em;
          left: 50%;
          right: auto;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%); } 
          .cd-marker {
            /* line at the bottom of nav selected item */
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 25%;
            background-color: currentColor;
            -webkit-transform-origin: center bottom;
            -moz-transform-origin: center bottom;
            -ms-transform-origin: center bottom;
            -o-transform-origin: center bottom;
            transform-origin: center bottom;
            -webkit-transform: translateZ(0) rotateX(90deg);
            -moz-transform: translateZ(0) rotateX(90deg);
            -ms-transform: translateZ(0) rotateX(90deg);
            -o-transform: translateZ(0) rotateX(90deg);
            transform: translateZ(0) rotateX(90deg);
            -webkit-transition: -webkit-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
            -moz-transition: -moz-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
            transition: transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s; }
            .cd-marker::before {
              /* triangle at the bottom of nav selected item */
              content: '';
              position: absolute;
              bottom: 3px;
              left: 50%;
              right: auto;
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-50%);
              transform: translateX(-50%);
              height: 0;
              width: 0;
              border: 10px solid transparent;
              border-bottom-color: inherit; }
            .nav-is-visible .cd-marker {
              -webkit-transform: translateZ(0);
              -moz-transform: translateZ(0);
              -ms-transform: translateZ(0);
              -o-transform: translateZ(0);
              transform: translateZ(0); }
          
          /* these are the colors of the markers - line + arrow */
          .color-1 {
            color:#592141; }
          
          .color-2 {
            color:#592141; }
          
          .color-3 {
            color:#592141; }
          
          .color-4 {
            color:#592141; }}
  


@media screen and (max-width: 700px) {
    
    
    }
    .built{
        flex-direction: column;
        
    }
    .built article{
        margin: auto;
    }
    .built h2{
        text-align: center;
    }
    .built p{
        text-align: center;
    }
    .built img{
        padding-top: 40px ;
        margin: auto;
    }
    .standing{
        flex-direction: column-reverse;
    }
    .standing article{
        margin: auto;
    }
    .standing h2{
        text-align: center;
    }
    .standing p{
        text-align: center;
    }
    .standing img{
        padding-top: 40px;
        margin: auto;
    }
    .easily{
        flex-direction: column;
    }
    .easily article{
        margin: auto;
    }
    .easily h2{
        text-align: center;
    }
    .easily p{
        text-align: center;
    }
    .easily img{
        padding-top: 40px;
        margin: auto;
    }
    .paperwork{
        flex-direction: column-reverse;
    }
    .paperwork article{
        margin: auto;
    }
    .paperwork h2{
        text-align: center;
    }
    .paperwork p{
        text-align: center;
    }
    .paperwork img{
        padding-top: 40px;
        margin: auto;
    }
    .understand{
        flex-direction: column;
    }
    .understand article{
        margin: auto;
    }
    .understand h2{
        text-align: center;
    }
    .understand p{
        text-align: center;
    }
    .understand img{
        padding-top: 40px;
        margin: auto;
    }
    

}
@media screen and (max-width: 664px) {
    .losing .container{
        flex-direction: column;
    }
}
@media screen and (max-width:415px){
    .white {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 35px;
    }
    .cd-3d-nav-container {
        height: 105px; }
        .cd-3d-nav a::before {
            top: 4em;}
            .cd-3d-nav a {
                padding: 6em 0 0;;
                font-size: 1.2rem;}
}
@media screen and (max-width:356px){
    form{
        flex-direction: column;
    }
    .losing form{
        border-radius: 32px;
    }
    .losing form button{
        margin-top: 10px;
    }
    .cd-3d-nav-container {
        height: 120px; }
        .cd-3d-nav a::before {
            top: 4.4em;}
            .cd-3d-nav a {
                padding: 7em 0 0;;
                font-size: 1.2rem;
}
@media screen and (max-width:335px){
    .built img{
        max-width: 200px;
    }
    .standing img{
        max-width: 200px;
    }
    .easily img{
        max-width: 200px;
    }
    .paperwork img{
        max-width: 200px;
    }
    .understand img{
        max-width: 200px;
    }
    .cd-3d-nav-container {
        height: 95px; }
        .cd-3d-nav a::before {
            top: 3.4em;}
            .cd-3d-nav a {
                padding: 6em 0 0;;
                font-size: 1rem;
}
@media screen and (max-width:280px){
    .library .container{
        padding: 0px;
    }
    .library{
        padding: 0px;
    }
    .cd-3d-nav-container {
        height: 95px; }
        .item_link{
            display: none;
        }
     }
}

}}