*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4efe9;
}
header{
    padding: 40px 0; 
    margin-bottom: 80px;
}
.container{
    max-width: 1200px; 
    margin: auto; }
.d-flex{
    display: flex; 
    justify-content: space-between;
}
#navigation{
    display:flex; 
    list-style: none;
}
.item_link{
    color: #1E1928;
    font-family: 'Inter', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
    text-decoration: none; 
    margin-left: 40px;
}
.losing{
    padding-bottom: 196px;
}
.losing .container{
    max-width: 1200px; 
    margin: auto; 
    display: flex; 
    justify-content: space-between
}
.losing article{
    max-width: 549px;
}
.losing h1{
    color: #1E1928;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 58px;
    margin-bottom: 24px
}
.losing p{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.252px
}
.losing p:first-of-type{
    margin-bottom: 4px; 
    color: rgba(30, 25, 40, 0.80);
    font-size: 16px;
}
.losing p:nth-child(2){
    margin-bottom: 28px;
    color: rgba(30, 25, 40, 0.80);                
    font-size: 18px;
}
.losing p:last-of-type{
    margin-bottom: 24px; 
    color: #1E1928;
    font-size: 17px;
}
.losing form{
    border-radius: 9999px; 
    background: #FFF; 
    padding: 8px 12px;
    display: flex; 
    max-width: 448px; 
    justify-content: space-between
}
.losing form input{
    width: 180px; 
    border: none; 
    background-color: transparent; 
    padding: 10px 19px;
    color: rgba(30, 25, 40, 1);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    outline: none;
    font-weight: 400;
    line-height: 20px;
}
.losing form button{
    padding: 10px 32px;
    border-radius: 9999px;
    color: #F4EFE9;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    background: #1E1928;
}
.losing .art{
    max-width: 564px;
}
.losing .art img{
    display: block; 
    width: 100%; 
    padding-top: 73px;
}
.relief{
    padding-top: 270px;
    background-color: #FFD394; 
    background-image: url('img/bottom.png');
    background-position: bottom -240px left 0px; 
    background-repeat: no-repeat;
    position: relative;
}
.white{
    max-width: 1200px; 
    width: 100%;
    min-height: 380px; 
    border-radius: 8px; 
    background: #FFF;
    text-align: center;
    position: absolute;
    top: -190px;
    left: calc(50% - 600px);
}
.relief h3{
    padding-top: 80px;
    padding-bottom: 28px;
    color: #1E1928;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 42px;
}
.relief p{
    padding-bottom: 20px;
    color: rgba(30, 25, 40, 0.80);
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.252px;
    max-width: 653px;
    display: block;
    margin: auto;
}
.relief a{
    background-color: #FFF;
    border-radius: 9999px;
    border: 1px solid #1E1928;
    color: #1E1928;
    padding: 10px 33px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}
 
.how_it_work{
    max-width: 1200px;
    
    display: flex;
    justify-content: space-between;
    margin: auto;
    background-image: url('../img/bottom.png');
            background-position: bottom -240px left 0px; background-repeat: no-repeat;
}
.how_it_work h2{
    color: #1E1928;
    font-family: 'Roboto', sans-serif;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 58px; /* 120.833% */
}
.how_it_work ul{
    list-style: none;
}
.how_it_work li h4{
    text-align: left;
    color: #1E1928;
    font-family: 'Inter', sans-serif;
font-size: 17px;
font-style: normal;
font-weight: 700;
line-height: 26px; /* 152.941% */
letter-spacing: 0.252px;
margin-left: 60px;
margin-top: -30px;
}

.how_it_work li p{
    max-width: 502px;
    text-align: left;
    color: rgba(30, 25, 40, 0.80);
    margin-left: 60px;
    margin-bottom: 38px;
    font-family: 'Inter', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.176px;
}
.how_it_work li:before{
    display: inline-flex;
    margin-right: 24px;
    content: "1";
    background-color: #1E1928;
    width: 40px;
    height: 40px;
    border-radius: 9999px;
    justify-content: center;
    align-items: center;
    color: #EDE6DD;
    font-family: 'Inter', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 26px; 
letter-spacing: 0.252px;
}
.how_it_work li:nth-child(2):before{
    content: "2";
}
.how_it_work li:last-of-type:before{
    content: "3";
}


.phone{
    background-color:#F4EFE9;
}
.phone .container{
    max-width: 1200px;
    margin-left: 80px;
    margin-right: 80px;
    margin: auto;
}
.built{
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
}
.built article{
    text-align: end;
}
.built h2{
padding-top: 207px;
color: #1E1928;
text-align: right;
font-family: 'Roboto', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 42px; /* 131.25% */
}
.built p {
    padding-top: 28px;
    max-width: 587px;
    color: rgba(30, 25, 40, 0.80);
text-align: right;
font-family: 'Inter', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
letter-spacing: 0.252px;

}
.standing{
    padding-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
}

.standing h2{
    padding-top: 207px;color: #1E1928;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 131.25% */
}
.standing p{
    padding-top: 28px;
    max-width: 597px;
    color: rgba(30, 25, 40, 0.80);
    font-family: 'Inter', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
letter-spacing: 0.252px;
}
.easily{
    margin-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
}
.easily article{
    text-align: end;
}
.easily h2{
padding-top: 207px;
color: #1E1928;
text-align: right;
font-family: 'Roboto', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 42px; /* 131.25% */
}
.easily p {
    padding-top: 28px;
    max-width: 587px;
    color: rgba(30, 25, 40, 0.80);
text-align: right;
font-family: 'Inter', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
letter-spacing: 0.252px;
}


.paperwork{
    padding-top: 80px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
}
.paperwork h2{
    padding-top: 207px;color: #1E1928;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px; /* 131.25% */
}
.paperwork p{
    padding-top: 28px;
    max-width: 597px;
    color: rgba(30, 25, 40, 0.80);
    font-family: 'Inter', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
letter-spacing: 0.252px;
}

.understand{
    margin: 80px 40px;

    display: flex;
    justify-content: center;
}
.understand article{
    text-align: end;
}
.understand h2{
padding-top: 207px;
color: #1E1928;
text-align: right;
font-family: 'Roboto', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 42px; /* 131.25% */
}
.understand p {
    padding-top: 28px;
    max-width: 587px;
    color: rgba(30, 25, 40, 0.80);
text-align: right;
font-family: 'Inter', sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
letter-spacing: 0.252px;
}
.library{
    background-color: #F4EFE9;
    margin: auto;
    text-align: center;
}
.library .container{
    max-width: 1440px;
    padding: 8px 144px;
    margin: auto;
}
.library h4{
    color: #1E1928;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 152.941% */
    letter-spacing: 0.252px;

}
.library div{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}
.library article{
    border-radius: 8px;
    background-color: #FFF;
    min-height: 160px;
    max-width: 144px;
    width: 100%;
    margin: auto;
}
.library img{
    padding-top: 12px;
    padding-bottom: 12px;
    max-width: 88px;
}
.library p{
   color: #1E1928;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 16px; /* 133.333% */
}
.library a{
    border-radius: 9999px;
    border: 1px solid #1E1928;
    color: #1E1928;
    padding: 10px 33px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
}
.pupper{
    margin-top: 308px;
    background-color:#592141;
    position: relative;
}
.pupper .container{
    max-width: 1440px;
    margin: auto;
    text-align: center;
}
.security{
    max-width: 1200px;
    width: 100%;
    background-color: #FFF;
    margin: auto;
    position: absolute;
    top: -150px;
    left: calc(50% - 600px);
}
.security h2{
    padding-top: 80px;
    max-width: 410px;
    margin: auto;
    color: #1E1928;
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: 42px; /* 131.25% */
}
.security p{
    padding: 28px;
    padding-bottom: 76px;
    max-width: 662px;
    margin: auto;
    color: rgba(30, 25, 40, 0.80);
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 176.471% */
letter-spacing: 0.252px;
}
.quote{
    padding-top:195px ;
    margin: auto;
    max-width: 896px;
}
.user{
    color: #F4EFE9;
text-align: center;
font-family: 'Inter', sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
letter-spacing: 0.252px;
padding-top: 144px;
}
.autor{
    color: #F4EFE9;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.252px;
    padding-top: 32px;
    padding-bottom: 184px;
}
.quotes{
    padding-top: 26px;
    color: #F4EFE9;
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 96px;
font-style: normal;
font-weight: 400;
line-height: 96px; /* 100% */
}
.phrase{
    color: #F4EFE9;
text-align: center;
font-family: 'Roboto', sans-serif;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 36px; 
}







